TIGRBL_REST_BULK_CRUD_POSTGRES_DEMO_HOST=127.0.0.1
TIGRBL_REST_BULK_CRUD_POSTGRES_DEMO_PORT=5432
TIGRBL_REST_BULK_CRUD_POSTGRES_DEMO_USER=tigrbl
TIGRBL_REST_BULK_CRUD_POSTGRES_DEMO_PASSWORD=tigrbl
TIGRBL_REST_BULK_CRUD_POSTGRES_DEMO_DB=tigrbl_rest_bulk_crud_demo
